{% extends "base.html" %}

{% block content %}
<h5>Latest Alliance Logos <small>(sorted by alliance age) <a href="#{{ maxDate }}">{{ maxDate }}</a></small></h5>
<div class="row">
<div class="span12">
<div class="well pull-left" style="margin-right: 1em; padding-left: 1em;">
{% for key, alli in latest %}
		<div class="pull-left" style="text-align: center; width: 64px; height: 100px !important; max-height: 90px; margin-right: 1em; overflow: hidden; text-overflow: ellipsis;"> 
			<a target="_blank" href="https://zkillboard.com/alliance/{{ alli.allianceID }}/"><img src="https://image.eveonline.com/Alliance/{{ alli.allianceID }}_64.png" style="width: 64px; height: 64px;" class="eveimage img-rounded" rel="tooltip" title="{{ alli.allianceName|escape }}"></a>
			{% if alli.shortName %}<small>&lt;{{ alli.shortName }}&gt;</small>{% else %}<small style='font-size: 8px;'>{{ alli.allianceName }}</small>{% endif %}
		</div>
{% endfor %}
</div>
</div>
</div>


{% set currentDate = 'foobar' %}
<h5>Alliances with Logos <small>(sorted by alliance creation date)</small></h5>
<div class="row">
<div class="span12">
<div class="well pull-left" style="margin-right: 1em; padding-left: 1em;">
	{% for key, alli in allis %}
		{% if alli.logoReleased != currentDate %}
{% if currentDate != 'foobar' %}
</div>
<div class="well pull-left" style="margin-right: 1em; padding-left: 1em;">
{% endif %}

			{% set currentDate = alli.logoReleased %}
			{% if currentDate == '' %}<h4>Closed Alliances <small>(information unavailable)</small></h4>
			{% else %}<h4>{{ currentDate }}</h4>{% endif %}
		{% endif %}

		<div class="pull-left" style="text-align: center; width: 64px; height: 100px !important; max-height: 90px; margin-right: 1em; overflow: hidden; text-overflow: ellipsis;"> 
			<a target="_blank" href="https://zkillboard.com/alliance/{{ alli.allianceID }}/"><img src="https://image.eveonline.com/Alliance/{{ alli.allianceID }}_64.png" style="width: 64px; height: 64px;" class="eveimage img-rounded" rel="tooltip" title="{{ alli.allianceName|escape }}"></a>
			{% if alli.shortName %}<small>&lt;{{ alli.shortName }}&gt;</small>{% else %}<small style='font-size: 8px;'>{{ alli.allianceName }}</small>{% endif %}
		</div>
	{% endfor %}
</div>
</div>
</div>
{% endblock %}
